body {
	background-color: black;
	background-image: url(/img/simonswallpaper.jpg);
	background-repeat: no-repeat;
	background-position: top right
}
.rotate {
	transform: rotate(270deg);
	margin-top: 40px;
}
.rotateRound {
	margin-top: 5px;
	margin-right: 40px;
	margin-left: 30px;
}

#gamebox {
	width: 440px;
	height: 340px;
	margin: auto;
	position: absolute;		
	top: 0; right: 0; bottom: 0; left: 0;
	border-width: 1px;
	border-color: blue;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);
}
.square {
	width: 150px;
	height: 150px;
	border-width: 3px;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
	opacity: 0.5;
}
#brown {
	background-color: brown;
}

#red {
	background-color: darkred;
}
#violet {
	background-color: violet;
}
#blue {
	background-color: darkblue;
}
.active {
	opacity: 1.0;
}